<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Traclock"
        tools:targetApi="32">
        <service
            android:name=".timer.TimerService"
            android:directBootAware="true" />

        <activity
            android:name=".ui.settings.OpenSourceLicensesActivity"
            android:exported="false"
            android:label="@string/title_activity_open_source_licenses"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".ui.settings.FeedbackActivity"
            android:exported="false"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".ui.settings.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".ui.ProjectActivity"
            android:exported="false"
            android:label="@string/title_activity_project"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".ui.settings.BackupRestoreActivity"
            android:exported="false"
            android:label="@string/title_activity_backup_restore"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".ui.EditRecordActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_record"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".ui.EditProjectActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_project"
            android:theme="@style/Theme.Traclock" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Traclock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>