name: Android 构建检查

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "package.json"
      - "yarn.lock"
      - ".gitignore"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: 设置 JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - name: 构建检查
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ vars.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          chmod +x gradlew
          ./gradlew exportLibraryDefinitions -PaboutLibraries.exportPath=src/commonMain/moko-resources/files
          ./gradlew assembleDebug
